<div class="container">
  <h1><%= @wiki.title %></h1>
 <% if policy(@wiki).edit? %>
      <%= link_to 'Edit Wiki', edit_wiki_path(@wiki.id), class: 'btn btn-success' %>
    <% end %>
    <% if policy(@wiki).destroy? %>
      <%= link_to 'Delete Wiki', @wiki, class: 'btn btn-danger', 
          method: :delete, 
          data: { confirm: 'Are you sure you want to delete your Wiki'} %>
    <% end %>
  <p><%= @wiki.body %></p>
</div>